/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  text-align: center;
}


/* Custom styles */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  border: 0px;
}

/* Custom timo style */
.item .container {
  width: 500px;
  height: 500px;
}

.pad {
  padding: 3px;
}

/* Join page styles */
.idGroup {
  margin: auto;
  width: 180px;
}

#idInput {
  font-size:150%;
  text-align:center;
  letter-spacing:+4px;
  color: #168ccc;
}

.back {
  margin-top:30px;
}

.dummy {
  visibility: hidden;
}


/* Tell Website Template adjustments */

.btn-default {
  background-color: #279ddd;
  color: #dedeff;
  border: 1px solid #279ddd;
}
.btn-default:hover, .btn-default:focus {
  background-color: #dedeff;
  color: #168ccc;
  border: 1px solid #dedeff;
}

#id {
  color: white;
}

#receivedTable a {
  color: white;
}
#receivedTable a:hover {
  color: #dedeff;
}

.modal {
  color: #168ccc;
}

#keyGen {
  color:#dedeff;
  font-size:180%;
  padding-top:250px;
}

#hideReceive {
  display:none;
}
#hideReceive .row {
  height: 50px;
  padding-top: 10px;
}
#fileList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}


#hideSendRequest {
  display:none;
  padding-top:50px;
  font-size:150%;
  height: 350px;

}
#hideSendRequest span {
  font-size:300%;
}

#help .glyphsize {
  color: #fefefe;
}

.tellNow {
  font-style: italic;
}

.helpEmph {
  color: white;
}

#help p {
  font-size:1.2em;
}

.helpGlyph {
  padding:0 50px 0 50px;
  margin:30px 0 10px 0;
}

.helpArrow {
  margin-top:110px;
  font-size:30px;
}

.helpNr {
  float:left;
  font-size:2.5em;
  padding:0 10px 0 0;
}


@media (max-width: 768px) {
  .item .container {
    width: auto;  
  }
  .helpArrow {
    display: none;  
  }
}
